<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNjbSI6W3siaWRlbnRpdHkiOiJhbGFtb2Zp
		cmUiLCJsb2NhdGlvbiI6Imh0dHBzOlwvXC9naXRodWIuY29tXC9BbGFtb2Zp
		cmVcL0FsYW1vZmlyZS5naXQiLCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1
		aXJlbWVudCI6eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjUuNS4wIiwidXBw
		ZXJCb3VuZCI6IjYuMC4wIn1dfX1dfSx7InNjbSI6W3siaWRlbnRpdHkiOiJr
		ZXljaGFpbmFjY2VzcyIsImxvY2F0aW9uIjoiaHR0cHM6XC9cL2dpdGh1Yi5j
		b21cL3NhZ2FyNTUzNFwvS2V5Y2hhaW5BY2Nlc3MuZ2l0IiwicHJvZHVjdEZp
		bHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91
		bmQiOiI0LjIuMiIsInVwcGVyQm91bmQiOiI1LjAuMCJ9XX19XX0seyJzY20i
		Olt7ImlkZW50aXR5Ijoic3dpZnR1aS1jYWNoZWQtYXN5bmMtaW1hZ2UiLCJs
		b2NhdGlvbiI6Imh0dHBzOlwvXC9naXRodWIuY29tXC9sb3JlbnpvZmlhbWlu
		Z29cL3N3aWZ0dWktY2FjaGVkLWFzeW5jLWltYWdlIiwicHJvZHVjdEZpbHRl
		ciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQi
		OiIyLjAuMCIsInVwcGVyQm91bmQiOiIzLjAuMCJ9XX19XX1dLCJuYW1lIjoi
		TWVtb3JpYSIsInBhY2thZ2VLaW5kIjoicm9vdCIsInBsYXRmb3JtcyI6W3si
		b3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIx
		NS4yIn1dLCJwcm9kdWN0cyI6W3sibmFtZSI6Ik1lbW9yaWEiLCJzZXR0aW5n
		cyI6W3siYnVuZGxlSWRlbnRpZmllciI6WyJjYS5zYWdhcnAuTWVtb3JpYSJd
		fSx7InRlYW1JZGVudGlmaWVyIjpbIkxMNjQ3NkhLSFQiXX0seyJkaXNwbGF5
		VmVyc2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJzaW9uIjpbIjEiXX0seyJp
		T1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvckFzc2V0TmFtZSI6IkFjY2VudENv
		bG9yIiwiY2FwYWJpbGl0aWVzIjpbeyJib25qb3VyU2VydmljZVR5cGVzIjpb
		XSwicHVycG9zZSI6ImxvY2FsTmV0d29yayIsInB1cnBvc2VTdHJpbmciOiJB
		bGxvd3MgY29ubmVjdGlvbiB0byB5b3VyIGhvc3RlZCBzZXJ2ZXIifSx7InB1
		cnBvc2UiOiJwaG90b0xpYnJhcnkiLCJwdXJwb3NlU3RyaW5nIjoiQWxsb3dz
		IGFjY2VzcyB0byB5b3VyIGxpYnJhcnkgdG8gc3luYyB0aGVtIHRvIHlvdXIg
		aG9zdGVkIHNlcnZlciJ9XSwiaWNvbkFzc2V0TmFtZSI6IkFwcEljb24iLCJz
		dXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBw
		b3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0s
		eyJsYW5kc2NhcGVSaWdodCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsi
		cG9ydHJhaXRVcHNpZGVEb3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1p
		bGllcyI6WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJd
		LCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJB
		cHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkFsYW1v
		ZmlyZSIsIkFsYW1vZmlyZSIsbnVsbF19LHsicHJvZHVjdCI6WyJLZXljaGFp
		bkFjY2VzcyIsIktleWNoYWluQWNjZXNzIixudWxsXX0seyJwcm9kdWN0Ijpb
		IkNhY2hlZEFzeW5jSW1hZ2UiLCJzd2lmdHVpLWNhY2hlZC1hc3luYy1pbWFn
		ZSIsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJw
		YXRoIjoiLiIsInJlc291cmNlcyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1
		bGUiOiJwcm9jZXNzIn1dLCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRh
		YmxlIn19LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3Qi
		OlsiQWxhbW9maXJlIiwiQWxhbW9maXJlIixudWxsXX0seyJwcm9kdWN0Ijpb
		IktleWNoYWluQWNjZXNzIiwiS2V5Y2hhaW5BY2Nlc3MiLG51bGxdfSx7InBy
		b2R1Y3QiOlsiQ2FjaGVkQXN5bmNJbWFnZSIsInN3aWZ0dWktY2FjaGVkLWFz
		eW5jLWltYWdlIixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1v
		ZHVsZSIsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbeyJwYXRoIjoiUmVzb3Vy
		Y2VzIiwicnVsZSI6InByb2Nlc3MifV0sInNldHRpbmdzIjpbXSwidHlwZSI6
		ImV4ZWN1dGFibGUifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVyc2lvbiI6IjUu
		NS4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		mbtREXjmu1nifWOSJ0npF43ZZVlPdqPlsEXY9Sngy18=
		</data>
		<key>schemaVersion</key>
		<integer>3</integer>
		<key>swiftPMVersionString</key>
		<string>5.5.0</string>
	</dict>
</dict>
</plist>
